<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>{{name}}</h1>
        <ol>
            <li ref="www"></li>
            <li ref="www"></li>
            <li ref="www"></li>
        </ol>
        <ul>
            <li v-for="item in ary" ref="qqq"></li>
        </ul>




        <my-btn v-for="item in ary" :key="item" ref="qqq"></my-btn>

    </div>

    <template id="btn">
        <button @click="clickFn"> 王峰小妞妞</button>
    </template>     
</body>

</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    /* 
        ref除了获取元素还可以获取组件，获取到组件之后，就可以根据自己的需求进行编写了
     */
    let obj = {
        template: "#btn",
        methods: {
            clickFn(e) {
                this.$emit('click', e)
            }
        }
    }
    let vm = new Vue({
        el: '#app',
        data: {
            name: "王峰小宝贝",
            ary: [1, 2, 3]
        },
        mounted() {
            console.log(this.$refs.qqq); //v-for循环出来的可以获取一组
            console.log(this.$refs.www); //静态写死的只能获取最后一个
            this.$nextTick(() => {
                // dom 更新弯沉过之后才会触发，异步操作
                console.log(this.$refs.qqq);

            })
        },
        components: {
            'my-btn': obj
        },
        methods: {
            fn() {
                console.log(arguments);
            }
        }
    })
</script>