<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>单选框</title>
</head>

<body>
    <div id="app">
        <h1>{{name}}</h1>
        <select v-model="fruit" @change="fn">
            <option value="apple">apple</option>
            <option value="pear">pear</option>
            <option value="banana">banana</option>
        </select>
        <br>
        <input type="radio" value="woman" v-model="sex">女
        <br>
        <input type="radio" value="man" v-model="sex">男



        <!-- 
            selectbox   下拉框
         -->

    </div>
</body>

</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            name: "王峰小宝贝",
            sex: 'women',
            fruit:'apple'
        },
        methods:{
            fn(){
                console.log(this.fruit);
                
            }
        }
    })
</script>